<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow-sm" style="z-index: 1050;">
  <div class="container" style="max-width: 800px;"> 
    <a class="navbar-brand fw-bold" href="{% url 'home' %}">Auth Systems</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto"> 
        <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "register" %}">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "login" %}">Login</a></li>
      </ul>
    </div>
  </div>
</nav>