<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
<nav class="sticky top-0 z-50 bg-gray-900 shadow-md">
  <div class="max-w-[800px] mx-auto px-4 py-3 flex justify-between items-center">
    <a href="#" class="text-white font-bold text-xl">Auth Systems</a>
    
    <div class="hidden md:flex space-x-6">
      <a href="#" class="text-gray-300 hover:text-white transition">Home</a>
      <a href="#" class="text-gray-300 hover:text-white transition">Register</a>
      <a href="#" class="text-gray-300 hover:text-white transition">Login</a>
    </div>

    <button class="md:hidden text-white">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m12 6H4"></path></svg>
    </button>
  </div>
</nav>
    
    <hr>

    {% block content %}{% endblock %}

    <hr>

  <footer class="mt-auto py-4 bg-gray-50 border-t border-gray-200">
  <div class="container mx-auto px-4 text-center">
    <p class="text-sm text-gray-500">
      &copy; 2026 <span class="font-semibold text-gray-700">Auth Syatem</span>
    </p>
  </div>
</footer>



      

    </div>
  </div>
</footer>
</body>
</html>